.charity-area .intro h3::before {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.03;
    font-size: 100px;
    content: 'CHARITY';
    transform: translate(0%, -50%);
    white-space: nowrap;
    overflow: hidden;
  
  }